.wrapper {
  height: 750px;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	// max-width: 1200px;
	// min-width: 1200px;
	margin: 0px auto;
	padding: 10px 0;
	color: #2d2d2d;
	border-radius: 10px;
	box-shadow: 15px 5px 30px rgb(235, 2, 2), 0 0 30px rgba(10, 10, 0, 0.1) inset;
	box-sizing: border-box;
	background-color: rgba(219, 219, 219, 0.815);
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: none;
}
textarea {
	resize: none;
}
